.task {
  display: flex;
  background-color: #30313d;
  max-width: 300px;
  width: 100%;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  transition: opacity 0.3s linear;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  height: auto;
  width: 20px;
}
.checkbox {
  width: 50px;
}
.taskName {
  margin-left: 10px;
}

div.task.notDone {
  opacity: 0.3;
}

.trash {
  border: none;
  background: none;
}

.trash svg {
  width: 15px;
  height: auto;
  fill: rgba(255, 255, 255, 0.5);
}

div.task span {
  position: relative;
}
div.task span:before {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 10px;
  transition: width 0.1s linear;
}
div.task.notDone span:before {
  width: 100%;
}

div.task input {
  border: none;
  background: none;
  padding: 6px;
  margin: 0 5px;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
