@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #17181f;
  color: #aaa;
}

h1,
h2 {
  text-align: center;
  margin: 20px 0;
}

@media (min-width: 768px) {
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 48px;
  }
}
